@import "../utils/variables";
@import "../utils/mixins";

@keyframes appearing {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.menu_restaurant {
    padding-left: 25px;
    padding-right: 25px;
    background-color: $plainColorThird;
    display: flex;
    flex-direction: column;

    @include desktop-only {
        flex-direction: row;
    }

    &__liste {
        display: flex;
        flex-direction: column;

        @include desktop-only {
            width: 33%;
        }

        h2 {
            margin: 0;
            margin-top: 20px;
        }

        .mets:nth-of-type(4n+1) {
            animation: appearing 2s ease-out 0s 1 normal forwards;
        }

        .mets:nth-of-type(4n+2) {
            animation: appearing 2s ease-out 1s 1 normal forwards;
        }

        .mets:nth-of-type(4n+3) {
            animation: appearing 2s ease-out 2s 1 normal forwards;
        }

        .mets:nth-of-type(4n+4) {
            animation: appearing 2s ease-out 3s 1 normal forwards;
        }
    }

    &__soulignage {
        display: flex;
        height: 2px;
        width: 60px;
        background-color: $flashyColorThird;
        margin-bottom: 20px;
    }


}

.mets {
    background-color: white;
    border-radius: 12.5px;
    margin: 5px;
    display: flex;
    height: 100px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    top: 50px;


    &__texte {

        padding-left: 12.5px;

        width: 80%;
        transition: all 2000ms;

        h3,
        p {
            overflow: hidden;
            text-overflow: ellipsis;

        }
    }

    &__prix {
        display: flex;
        align-items: flex-end;
        padding-right: 12.5px;
        width: 20%;
    }

    &__check {
        color: white;
        background-color: $flashyColorThird;
        width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: rotate(0);
        transition: all 2000ms;
        /*transition-property: transform;
        transition-duration: 400ms;*/
    }

    &:hover & {
        &__texte {
            width: 60%;
            transition: all 2000ms;
            white-space: nowrap;
        }

        &__check {
            width: 20%;
            transition: all 2000ms;

            i {
                transition: all 2000ms;
                transform: rotate(1turn);
            }
        }

    }



}