@import "../utils/variables";

.titre {
    background-color: $plainColorThird;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-top: -50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-size: 50%;
    font-family: Shrikhand;
    position: relative;

    i {
        margin-top: 0;
        font-size: 200%;
    }
}